Your Dashboard

<div class="dashboard-panel">
	<div class="dashboard-panel-inner">
		<p><b>Your Profile</b></p>
		<p>Edit your profile</p>
		<div align="center">
			<a href="/profile"><div class="dashboard-panel-inner-button">
				Edit
			</div></a>
		</div>
	</div>
</div>

<div style="height: 60px;">
</div>