Your Instructor Dashboard

<div class="dashboard-panel">
	<div class="dashboard-panel-inner">
		<p><b>Payment Method</b><p>
		<p>Set up your account so you can get paid.</p>
		<div align="center">
			<a href="/payment"><div class="dashboard-panel-inner-button">
				Add payment
			</div></a>
		</div>
	</div>
</div>

<div class="dashboard-panel">
	<div class="dashboard-panel-inner">
		<p><b>Create Class</b></p>
		<p>Create up to three class types.</p>
		<div align="center">
			<a href="/createclass"><div class="dashboard-panel-inner-button">
				Create Class
			</div></a>
		</div>
	</div>
</div>

<div class="dashboard-panel">
	<div class="dashboard-panel-inner">
		<p><b>Schedule a Class</b></p>
		<p>Open a class you've created on the calendar.</p>
		<div align="center">
			<a href="/schedule"><div class="dashboard-panel-inner-button">
				Schedule
			</div></a>
		</div>
	</div>
</div>

<div class="dashboard-panel">
	<div class="dashboard-panel-inner">
		<p><b>Your Profile</b></p>
		<p>Edit your instructor profile for other students to see.</p>
		<div align="center">
			<a href="/profile"><div class="dashboard-panel-inner-button">
				Edit
			</div></a>
		</div>
	</div>
</div>

<div style="height: 60px;">
</div>