Your Instructor Schedule

<div class="dashboard-panel">
	<div class="dashboard-panel-inner">
		<p class="schedule-header">
			DAYWEEK MM DAY
		<p>
		<div align="left" class="schedule-panel">
			<div class="schedule-panel-header">
				<div style="display: table-cell;">
					8:00 AM
				</div>
				<div style="display: table-cell; text-align: right;">
					just this once
				</div>
			</div>
			<div align="center">
				<p>@ Piedmont Park</p>
				<p>11 out of 12 slots filled</p>
			</div>
		</div>
	</div>
</div>

<div style="height: 60px;">
</div>