<!-- here we are gonna make a request to server api for classes -->
<div style="height: 40px;"></div>

<section>
	<div class="fitted_class" align="left">
		<div class="fitted_class_content" align="left">
			<div class="fitted_class_type" style="color: #7a7a7a;">
				Class Type
			</div>
			<div class="fitted_class_timestamp">
				Start Time - End Time
			</div>
			<div class="fitted_class_description">
				Lorem ipsum dolor sit amet
			</div><br>
			<div>
				by author
			</div>
		</div>
		<div class="fitted_class_bg-circle" style="background-color: #7a7a7a;">
		</div>
	</div>
</section>