<% include header.ejs %>
<body>
<!--facebook code-->
<script>
var isNumberKey = function(evt){
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
             return false;
          return true;
    }

$(document).ready(function(){

	var statusChangeCallback = function(response){
		console.log(response);
	}

	function checkLoginState() {
		FB.login(function(response){
			console.log(response);
		});
	}

	window.fbAsyncInit = function() {
		FB.init({
		  appId      : '672245366249588',
		  xfbml      : true,
		  version    : 'v2.6'
		});

		var user_id, accessToken, signedRequest, expiresIn;

		FB.getLoginStatus(function(response){
			accessToken = response.authResponse.accessToken;
			user_id = response.authResponse.userID;
			signedRequest = response.authResponse.signedRequest;
			expiresIn = response.authResponse.expiresIn;

			FB.api("/" + user_id + "/", function(response){
				console.log(response);
			});

			//Once we're logged in do more!
			//Need to condense this into a batch request
			FB.api("/" + user_id + "/picture?width=9999", 
				function(response){
					if (response && !response.error) {
		        		//document.getElementById("reg-user-profile-image").src = response.data.url;
		        		$('.app_user_icon img').attr('src', response.data.url);
		      		}
				}
			);
		});
	}
});

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "static/js/facebook-sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

<loader class="hide-loader">
	<div class='loader-inner'>
		<i class="fa fa-spinner" id="loading-icon" aria-hidden="true"></i>
	</div>
</loader>

<div class="header-bar hide" align="center">
	<span class="title">title</span>
	<!--<div style="margin-top: 10px;">
		<div class="tiny-bubble">1</div>
		<div class="tiny-bubble">2</div>
		<div class="tiny-bubble">3</div>
		<div class="tiny-bubble">4</div>
	</div>-->
</div>
<div class="graphic-triangle" align="left">
	<img src='/static/img/triangle_graphic_placeholder.png'>
</div>
<div class="content" style="padding: 0">

	<%- include(page) %>

</div>

<div class="footer-b" align='right'>
	<div class="footer-triangle-b">test</div>
	<div class="footer-bar" align="center">
		<div class="footer-bar-cell">
			<%if (isInstructor >= 1) { %>
				<a href="#"><div class="footer-bar-btn">
					<i class="fa fa-th-list" aria-hidden="true"></i><br>
					dashboard
				</div></a>
			<% } else { %>
				<a href="#"><div class="footer-bar-btn">
					<i class="fa fa-search" aria-hidden="true"></i><br>
					search
				</div></a>
			<% } %>
		</div>
		<div class="footer-bar-cell footer-bar-cell-selected">
			<a href="/dashboard"><div class="footer-bar-btn">
				<i class="fa fa-calendar-o" aria-hidden="true"></i><br>
				upcoming
			</div></a>
		</div>
		<div class="footer-bar-cell">
			<a href="#"><div class="footer-bar-btn">
			<i class="fa fa-plus" aria-hidden="true"></i><br>
				add class
			</div></a>
		</div>
		<div class="footer-bar-cell">
			<a href="/profile"><div class="footer-bar-btn">
				<i class="fa fa-user-o" aria-hidden="true"></i><br>
				profile
			</div></a>
		</div>
	</div>
</div>


</body>

</html>