<div class="card" align="center" style="margin-top: 100px;" id="starting-card">
	<span class='title'>Create and<br> schedule a<br> class.</span>
	<div class="divider-15"></div>
	<a href="/createclass"><button class='grey-btn'>Create class</button></a>
</div>