<div class="card" align="center" style="padding-left: 5px; padding-right: 5px; ">

	<span class='input-title' style="font-family: 'Montserrat'; ">name, you've made</span>
	<div class="divider-15"></div>
	<span class='title' style='font-size: 50px;'>$0</span>
	<div class="divider-15"></div>

	<div class="large-bubble large-bubble-selected bubble-text">Today</div>
	<div class="large-bubble bubble-text">This Month</div>
	<div class="large-bubble bubble-text">Lifetime</div>

	<div class="divider-15"></div>

	<div class="inner-card">
		<div class="inner-card-cell">
			<div class="title">You've taught 0 classes.</div>
		</div>
		<div class="inner-card-cell">
			<div class="large-bubble bubble-text">Today</div>
		</div>
	</div>

	<div class="inner-card">
		<div class="inner-card-cell">
			<div class="title">Bank account is not linked.</div>
		</div>
		<div class="inner-card-cell">
			<div class="large-bubble bubble-text">Edit</div>
		</div>
	</div>

	<div class="inner-card">
		<div class="inner-card-cell">
			<div class="title">Earn 80% on each class.</div>
		</div>
		<div class="inner-card-cell">
			<div class="large-bubble bubble-text">Learn more</div>
		</div>
	</div>
</div>