<% include header.ejs %>
<!--facebook code-->
<script>
var statusChangeCallback = function(response){
	console.log(response);
}


function checkLoginState() {
	FB.login(function(response){
		console.log(response);
	});
}

window.fbAsyncInit = function() {
	FB.init({
	  appId      : '672245366249588',
	  xfbml      : true,
	  version    : 'v2.6'
	});

	FB.getLoginStatus(function(response){
		statusChangeCallback(response);
	});
};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "static/js/facebook-sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


/*function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }*/
</script>

<body class="main-bg-image">

<div class='main-cover'></div>
<div class='main-content'>
	<div class='main-content-inner'>
		<div class="main-blurb">
			Let<br>fitness instructors come to you.
		</div><br>
		<div align="center">
			<span class="main-logo">Fitted</span><br>
			<p style="margin-top: 15px;">
				<a href="/auth/facebook"><button class="reg-btn">Sign in Facebook</button></a>
			</p>
		</div>
	</div>
</div>

</body>
</html>