<% include header.ejs %>
<!--facebook code-->
<script>
var statusChangeCallback = function(response){
	console.log(response);
}


function checkLoginState() {
	FB.login(function(response){
		console.log(response);
	});
}

window.fbAsyncInit = function() {
	FB.init({
	  appId      : '672245366249588',
	  xfbml      : true,
	  version    : 'v2.6'
	});

	FB.getLoginStatus(function(response){
		statusChangeCallback(response);
	});
};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "static/js/facebook-sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


/*function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }*/
</script>
<body>
<div align="center">

<div class="circle">
	<div id="header-text">
		<span class="logo-text">Fitted</span><Br>
		<span class="logo-subtext">Let gym instructors <br>come to you.</span><br><br>
		<a href="/auth/facebook"><button class="btn facebook_btn">Join with Facebook</button></a><br>
	</div>
</div>
<div class="circle circle2">
</div>
<div class="circle circle3">
</div>

<div class="bg-graphic">
	<!--<img src="static/img/yoga3.jpg">-->
</div>

<div id="circle-block"></div>

<div class="blurb-container hide">
	<h1>
		Fitted lets you find exercise options in your area and sync up sessions with your friends.
	</h1>
</div>
<a href="/auth/facebook"><button class="btn facebook_btn hide">Join with Facebook</button></a><br>
<span style="font-size: 12px;" class="hide"><i class="fa fa-info-circle" aria-hidden="true"></i> We don't post anything to Facebook.</span>

</div>
</body>
</html>