<div class="card" align="center">
	<div class="title">
	Select a class
	</div>

	<select class="select-box" id="class_selected">
	<% for(var i = 0; i < classes.length; i++) { %>
	<option value="<%=classes[i].id%>"><%=classes[i].title%> (<%= classes[i].length_class%> min)</option>
	<%} %>
	</select>
</div>

<div class="card" align="center">
	<div class="title">
	Choose a day
	</div>

	<div id="calendar">

	</div>

</div>

<div class="card" align="center">
	<div class="title">
		Select a time on this day
	</div>
	<span class='input-title' style="font-family: 'Montserrat'; font-size: 16px;" id="select-time-date"></span>
	<div class="divider-15"></div>
	<div>TIME</div>

	<div class="divider-15"></div>

	<div class='input-title hide' style="font-family: 'Montserrat';">
		Edit Timings <i class="fa fa-pencil" aria-hidden="true"></i>
	</div>
</div>

<div align="center">
	<button class="bottom-btn" id="continue" isSubmittable=false>SAVE SCHEDULE</button>
</div>

<script>
//basic stuff
$('.header-bar').removeClass('hide');
$('.header-bar .title').html('Schedule Class');
$(".header-bar").css('height', '50px');
$("#header-arrow").removeClass('hide');
$("#header-arrow").attr('href', '/upcoming');

$('#calendar').fullCalendar({
	dayClick: function(date, jsEvent, view){
		$('.fc-day').removeClass('fc-highlight');
		$(this).addClass('fc-highlight');
		updateSelectTime(date);
	},
});

//update select time date
function updateSelectTime(date){
	var newDate = moment(date).format('dddd, MMMM D');
	$("#select-time-date").html(newDate);
}
updateSelectTime($("#calendar").fullCalendar('getDate'));
</script>