<% include header.ejs %>
<body>
<!--facebook code-->
<script>
var statusChangeCallback = function(response){
	console.log(response);
}


window.fbAsyncInit = function() {
	FB.init({
	  appId      : '672245366249588',
	  xfbml      : true,
	  version    : 'v2.6'
	});

	/*FB.getLoginStatus(function(response){
		statusChangeCallback(response);
	});*/
};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "static/js/facebook-sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


/*function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }*/
</script>
<div class="mainHeader">FITTED</div>
<div align="center">
	<span class="blurb-container">
		<h1>Get Started</h1><br>
		<button class="btn login_btn facebook_btn">
			<label class="btn facebook-icon"><i class="fa fa-facebook" aria-hidden="true"></i></label>
		  Sign Up with Facebook
		</button><br><br>
		<button class="btn login_btn google_btn hide">
			<label class="btn google-icon"><i class="fa fa-google-plus" aria-hidden="true"></i></label>
			Sign Up with Google Plus
		</button><br><br>
		<button class="btn login_btn start_btn hide">
			<label class="btn google-icon"><i class="fa fa-sign-in" aria-hidden="true"></i></label>
			Sign Up
		</button>
	</span>
</div>

</body>
</html>