<div class="card" align="center" style="margin-top: 100px;">
	<span class='title'>You have no<br> classes to<br> schedule!</span>
	<div class="divider-15"></div>
	<a href="/createclass"><button class='grey-btn'>Create class</button></a>
</div>