body,html {
	height: 100%;
    width: 100%;
    font-family: 'Assistant', sans-serif;
}
body {
	background-color: #fff;
	color: #2b2b2b;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

@font-face {
    font-family: 'OpenSans-Cond';
    src: url(../fonts/OpenSans-CondLight.ttf);
}

@font-face {
	font-family: 'BalooBhaina';
	src: url('../fonts/BalooBhaina-Regular.ttf');
}

@font-face {
	font-family: 'Assistant';
	src: url('../fonts/Assistant-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Assistant';
	src: url('../fonts/Assistant-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Assistant';
	src: url('../fonts/Assistant-Light.ttf');
	font-weight: lighter;
	font-style: normal;
}

a { color: inherit;}
a:hover { color: inherit; }

h1 {
    font-family: 'Assistant', sans-serif;
	color: #7a7a7a;
	font-weight: lighter;
	font-size: 22px;
	letter-spacing: 2px;
	margin: 0;
}

.hide { display: none; }

.fitted-button {
	border-radius: 0px;
	text-transform: uppercase;
	color: #001b38;
	font-weight: bold;
	font-size: 12px;
	position: relative;
	border: 0;
	padding-left: 40px;
}

.content-header {
	background-color: #fff;
	width: 100%;
	z-index: 0;
	color: #272727;
	text-align: center;
	padding: 10px;
}

.blurb-container {
	position: relative;
	padding: 30px;
	display: inline-block;
	z-index: 999;
}
.facebook_btn {
	font-family: inherit;
	background-color: #252525 !important;
	color: #fff !important;
	height: 34px;
	vertical-align: middle;
	width: 180px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 5px;
	-webkit-box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
	margin-bottom: 5px;
	line-height: 16px;
}
.btn:hover {
	cursor: pointer;
}

.mainHeader {
	background-color: #000;
	font-family: 'Quattrocento Sans', sans-serif;
	color: #8ae924;
	font-weight: lighter;
	font-size: 24px; 
	letter-spacing: 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.circle {
	width: 120%;
	height: 470px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #0AD981;
	position: absolute;
	top: -225px;
	left: -10%;
	overflow:hidden;
	z-index: 999;
}
.circle2 {
	z-index: 998;
	top: -150px;
	opacity: .5;
	height: 500px;
}
.circle3 {
	z-index: 997;
	top: -100px;
	height: 600px;
	opacity: .3;
}
.bg-graphic {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: #252525;
	background-image: url('/static/img/yoga3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-graphic img {
	height: 100%;
}

#header-circle-image {
	height: 100%;
	position: relative;
	top: 127px;
	z-index: 1;
	 position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.header-circle-image-filtered {
	mix-blend-mode: soft-light;
	opacity: .4;
}
#header-text {
	color: #252525;
	z-index: 999;
	position: relative;
	top: 235px;
	text-align: center;
}
.logo-text {
	font-family: 'BalooBhaina', sans-serif;
	font-size: 44px;
	letter-spacing: 1px;
}
.logo-subtext {
	font-size: 18px;
	font-weight: lighter;
}

#circle-block {
	height: 225px;
}
.fitted_button {
	background-color: #fff;
	height: 30px;
	vertical-align: middle;
	width: 160px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 8px;
	border: 1px solid #979797;
	margin-bottom: 7px;
	color: #001B38;
	line-height: 30px;
	padding: 0;
	font-weight: bolder;
}
.fitted_button-selected {
	background-color: #0E0E0E !important;
	color: #FFF;
	border: 0;
}
.fitted_button-selected:hover {
	color: #FFF;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a, * {
   outline: 0;
}

.slick-next:hover, .slick-prev:hover { cursor: pointer; }

.reg-header {
	background-color: #0AD981;
	height: 140px;
	border-bottom: 3px solid #21A758;
	color: #FFF;
	font-size: 18px;
	font-weight: normal;
	padding-top: 7px;
}

.reg-group-inp {
	background-color: rgba(0,0,0,0); 
	border: 0;
}
/* Registration inputs */
.reg-inp-group {

}
.reg-inp-group-title {
	text-transform: uppercase;
	font-size: 14px;
	color: #9B9B9B;
	font-weight: bolder;
}

.regInp {
	font-family: 'Assistant' !important;
	background-color: #FFF;
	border: none;
	color: #001B38;
	border-bottom: 1px solid rgba(151,151,151,.5);
	font-size: 24px;
	margin-bottom: 20px;
	width: 100%;
}

select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.selectMM {
	margin-right: 10px;
	font-family: inherit;
	font-size: 24px;
	border: 0;
	border-bottom: 1px solid rgba(151,151,151,.5);
	color: #001B38
}
.regInp-DD {
	width: 30px !important;
	margin-right: 10px;
}
.regInp-YYYY {
	width: 50px !important;
}

.reg-user-profile-container {
	position: relative;
	bottom: 75px;
}
.reg-user-profile {
	height: 150px;
	width: 150px;
	border-radius: 75px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
}
.reg-user-profile img, .account-user-profile img, .reg-friend-icon img {
	width: 100%;
}
.reg-body {
	position: relative;
	bottom: 45px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}
.reg-confirm {
	position: fixed;
	bottom: 0;
	background-color: #0AD981;
	width: 100%;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	text-align: center;
	height: 60px;
	font-size: 18px;
	font-weight: bolder;
	line-height: 60px;
}
.reg-confirm:hover { cursor:pointer; }

.reg-friend {
	display: inline-block;
	text-align: center;
	color: #001B38;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.reg-friend-icon {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	overflow: hidden;
}

.reg-user-type {
	width: 300px;
	padding: 0;
	height: 70px;
	background-color: #91c24b;
	border-radius: 2px;
	border: 0;
	display: block;
	color: #2b2b2b !important;
}

.app_header {
	background-color: #0AD981;
	height: 40px;
	line-height: 40px; 
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	position: fixed;
	z-index: 999;
	width: 100%;
}
.app_header_left { float: left; }
.app_header_right { 
	float: right; 
	color: #FFF;
}
.app_header_middle {
	font-family: 'Assistant' !important;
	font-size: 16px !important;
	font-weight: bolder;
	text-transform: uppercase;
	color: #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	 transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}
.app_title {
	font-family: 'BalooBhaina', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
}
.app_menu_icon:hover { cursor:pointer; }
.app_body {
	padding: 20px;
	padding-top: 60px;
	position: relative;
	z-index: 1;
	font-size: 16px;
}
.app_body section {
	margin-bottom: 30px;
}
.app_body h1, .app_body h2, .app_body h3, .app_body h4, .app_body h5, .app_body h6{
	font-family: 'Assistant';
	font-weight: bolder;
	text-transform: uppercase;
}
.fitted_class {
	background-color: #ccc;
	width: 75%;
	padding: 10px;
	border-radius: 8px;
}
.fitted_class_instructor { 
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center; 
}
.fitted_class_instructor_left, .fitted_class_instructor_right {
 	display: inline-block; 
 	vertical-align: middle;
}
.fitted_class_instructor_left { margin-right: 5px; }
.fitted_class_instructor_right { text-align: left; margin-left: 5px; }
.fitted_class_instructor_icon {
	height: 80px;
	width: 80px;
	border-radius: 40px;
	overflow: hidden;
	background-color: #0AD981; 
}
.instructor-subtitle { font-size: 12px; opacity: .8; }
.app_menu {
	position:fixed;
	height: 100%;
	width: 100%;
	background-color: #4A4A4A;
	z-index: 998;
	top: 0;
	padding-top: 60px;
	text-transform: uppercase;
	color: #FFF;
	font-size: 20px;
	line-height: 55px;
	top: -999%;
	-webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
.show_menu {
	top: 0 !important;
}

.app_user_icon {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	overflow: hidden;
	background-color: #0AD981; 
	margin-bottom: 10px;
}
.app_user_icon img { width: 100%; }

.app_menu_link:hover { 
	cursor:pointer; 
	text-decoration: underline;
}